<h1>本当に退会しますか？</h1>
<span>退会すると、会員情報や</span><br>
<span>これまでの購入履歴が閲覧できなくなります。</span><br>
<spanp>退会する場合は、「退会する」をクリックしてください。</span><br>

<%= link_to "退会しない", root_path %>
<%= link_to "退会する", customers_withdraw_path, method: :patch %>

